$white: #fff;
$black: #000;
$red: #ff0000;
$shadow: rgba(145, 144, 144, 0.1);
$bright-greek: #384aeb;
$child-of-light: #f1f6f7;
$bleached-silk: #f2f2f2;
$green: rgb(47, 255, 85);
$black-Opacity8: rgba(0, 0, 0, 0.8);
$black-Opacity2: rgba(0, 0, 0, 0.2);
$black-Opacity5: rgba(0, 0, 0, 0.5);
$beluga: #f1f1f1;
$argent: #888;
$stone-cold: #555;